# folders
node_modules
package
__testCoverage__
public

# files
.DS_Store
/.svelte-kit

# env settings
.env
.env.production

.vercel_build_output/
.vercel
# Sentry
.sentryclirc

# Sentry
.sentryclirc
