{
  "singleQuote": true,
  "printWidth": 80,
  "trailingComma": "all",
  "svelteSortOrder": "styles-scripts-markup",
  "svelteStrictMode": true,
  "svelteBracketNewLine": true,
  "svelteAllowShorthand": false
}
